.ticker-container{
    width: 100%;

    overflow: hidden;

    white-space: nowrap;

    position: relative;

    padding: 20px 0;
}

.ticker-track{
    display: flex;

    align-items: center;

    width: max-content;

    animation: infiniteScroll 20s linear infinite;
}

.ticker-item{
    flex-shrink: 0;

    margin-right: 20px;

    padding: 10px 24px;

    border: 1px solid #fffffe;

    border-radius: 50px;

    color: #ffffff;

    font-size: 18px;
    font-weight: 700;

    white-space: nowrap;
}

@keyframes infiniteScroll{

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}

@media(max-width:768px){

    .ticker-item{
        font-size: 12px;

        padding: 6px 14px;

        margin-right: 10px;
    }
}